@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;900&display=swap");
@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer components {
  .buttonSuccess {
    @apply flex items-center justify-center gap-2 rounded-xl bg-green-400 p-3 ring-black 
    transition duration-100 hover:bg-green-500 active:scale-105 active:ring-2 active:drop-shadow-sm;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: max-content;
  background-clip: text;
}

.print {
  page-break-before: always;
}
